<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <h1>Projects</h1>
<div class="project-grid">
  {% for project in site.projects %}
  <div class="card">
    <a href="{{ project.url }}">
      <img src="{{ project.image }}" alt="{{ project.title }}" />
      <h3>{{ project.title }}</h3>
    </a>
    <p>{{ project.summary }}</p>
  </div>
  {% endfor %}
</div>



    {%- include footer.html -%}



  </body>

</html>

